/* line 1, ../sass/aims.scss */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* line 7, ../sass/aims.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 14, ../sass/aims.scss */
img {
  width: 100%;
}

/* line 19, ../sass/aims.scss */
.header .logo-wrap {
  width: 50%;
}
/* line 23, ../sass/aims.scss */
.header .header-social-nt li {
  list-style: none;
  display: inline-block;
}
/* line 26, ../sass/aims.scss */
.header .header-social-nt li a {
  display: inline-block;
  background: #919191;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  font-size: 28px;
  color: #fff;
  vertical-align: middle;
}
/* line 36, ../sass/aims.scss */
.header .header-social-nt li a i {
  margin-top: 50%;
  transform: translate(0, -50%);
}

/* line 45, ../sass/aims.scss */
.navbar {
  padding: 0;
  margin: 0;
}

/* line 49, ../sass/aims.scss */
.navbar-default {
  background: #ec1a2e;
  border-radius: 0;
}
/* line 52, ../sass/aims.scss */
.navbar-default .navbar-nav {
  margin: 0;
}
/* line 54, ../sass/aims.scss */
.navbar-default .navbar-nav > li {
  position: relative;
}
/* line 56, ../sass/aims.scss */
.navbar-default .navbar-nav > li a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  display: block;
  padding: 15px 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 67, ../sass/aims.scss */
.navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-nav > li a:focus {
  color: #fff;
  background: #C30E20;
}
/* line 73, ../sass/aims.scss */
.navbar-default .navbar-nav > li.active a {
  background: #C30E20;
  color: #fff;
}
/* line 76, ../sass/aims.scss */
.navbar-default .navbar-nav > li.active a:hover, .navbar-default .navbar-nav > li.active a:focus {
  background: #C30E20;
  color: #fff;
}
/* line 82, ../sass/aims.scss */
.navbar-default .navbar-nav > li .sub-menu-ul {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50px;
  /*opacity: 0;
  visibility: hidden;*/
  display: none;
  background: #090;
  z-index: 10;
}
/* line 92, ../sass/aims.scss */
.navbar-default .navbar-nav > li .sub-menu-ul li {
  text-align: center;
  list-style: none;
}
/* line 96, ../sass/aims.scss */
.navbar-default .navbar-nav > li .sub-menu-ul li a:hover, .navbar-default .navbar-nav > li .sub-menu-ul li a:focus {
  background: #000;
}
/* line 102, ../sass/aims.scss */
.navbar-default .navbar-nav > li:hover {
  background: #C30E20;
}
/* line 105, ../sass/aims.scss */
.navbar-default .navbar-nav > li:hover .sub-menu-ul {
  /*opacity: 1;
  visibility: visible;*/
  display: block;
  position: absolute;
}

/* line 116, ../sass/aims.scss */
.navbar-collapse {
  padding: 0;
}

/* line 120, ../sass/aims.scss */
.navbar-collapse.in {
  overflow-y: inherit;
}

@media only screen and (min-width: 768px) {
  	/*.navbar-default{
  		.navbar-nav{
  			>li{
  
  				-webkit-transition: 0.5s;
  				-moz-transition: 0.5s;
  				-ms-transition: 0.5s;
  				-o-transition: 0.5s;
  				transition: 0.5s;
  				&:hover{
  					.sub-menu-ul{
  						opacity: 1;
  						visibility: visible;
  						-webkit-transition: 0.5s;
  						-moz-transition: 0.5s;
  						-ms-transition: 0.5s;
  						-o-transition: 0.5s;
  						transition: 0.5s;
  					}
  				}
  			}
  		}
  	}*/
}
@media only screen and (max-width: 767px) {
  /* line 150, ../sass/aims.scss */
  .navbar-default .navbar-nav > li:hover .sub-menu-ul {
    display: none;
    /*position: static;*/
  }
}
